@model IEnumerable<TrainingLine.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}
<html>
    <head>
    <link href="~/css/site.css" rel="stylesheet" />
    </head>
<body class="homeView">
    <h3>Home Page</h3>
@*<table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Author)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Category)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Total_Pages)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Language)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>*@
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="card-container">
@foreach (var item in Model)
{
            <!-- Your card elements go here -->
            <div class="card" style="width:210px">
                <div class="row">
                    <div class="col-md-6">
                        <a class="nav-link" asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </div>
                    <div class="col-md-6">
                        <a class="nav-link" asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
                <h3 class="heading">@item.Title</h3>
                <p>@item.Description</p>
                <h5>@item.Author</h5>
                <p>@item.Total_Pages</p>
            </div>
    ////
      @*  <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center">Title : @item.Title</h3>
                <p class="card-text text-center">Description : @item.Description</p>
                <p class="card-text text-center">Author Name : @item.Author</p>
                <h4 class="card-title text-center">Total Pages : @item.Total_Pages</h4>
            </div>
        </div>*@
    @* <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Total_Pages)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Language)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>*@
}
</div>
@*    </tbody>
    </table>*@
    </body>
</html>

